 :root {
     --magenta: rgb(97, 124, 212);
     --slategray: rgb(172, 166, 166);
     --textSize: 18px
 }


 html {
     box-sizing: border-box;
     background-color: var(--slategray);
 }

 .item {
     background-color: var(--magenta);
     display: grid;
     justify-content: center;
     align-items: center;
     border: 1px solid #fff;
     color: #fff;
     font-family: Arial, Helvetica, sans-serif;
     font-size: var(--textSize);
 }

 .grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     grid-gap: 20px;
     grid-template-rows: repeat(4,20vh);
     
 }

 .item1 {
    grid-column: span 4;
    font-size: 44px;
    color: rgb(18, 26, 34);
}

.item2 {
    grid-column: span 2;
    grid-row: span 3;
    flex: 50%;
    padding: 0 4px;
}

.item2 img {
    margin-top: 8px;
    vertical-align: middle;
}

.item3 {
    grid-column: span 2;
    font-size: 18px;
    color: orange;
}

.item4 {
    grid-column: span 2;
    color: pink;
}

.item5 {
    grid-column: span 2;
    color: turquoise;
}

.item6 {
    grid-column: span 2;
    grid-row: span 10;
    color: violet;
}

.item7 {
    grid-column: span 2;
    grid-row: span 30;
    flex: 50%;
    padding: 0 4px;
}

.item7 img {
    margin-top: 8px;
    vertical-align: middle;
}

.item8 {
    grid-column: span 2;
    grid-row: span 10;
    color: gold;
}



.item9 {
    grid-column: span 2;
    grid-row: span 10;
    color: green;
}
 



 


 @media only screen and (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4,40vh);
    }
 }


 @media only screen and (max-width: 650px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(8,40vh);
    }
 }